#custom-container {
    background-color: lightgray;
    max-width: 300px;
    padding: 0px 5px 5px 5px;
    margin-top: 5px;
}

.background {
	width: 100vw;
	height: 200vh;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 900;
	background-color: rgba(0,0,0,0.7);
	border: none;
	cursor: default;
}

.scrollNone {
	overflow: hidden;
}

.scroll {
	overflow: auto;
}

.popup {
	position: absolute;
	background-color: #f4f4f4;
	z-index: 999;
	width: 33%;
	left: 33%;
	top: 10%;
	padding: 40px;
	
}

.none {
	display: none;	
}

.display {
	display: block;
}

#form-header {
    background-color: lightblue;
}

.cross-container {
	position: relative;
	top: -20px;
	right: -20px;
}

.cross {
	width: 20px;
	border-radius: 5px;
	background-color: #4f4f4f;
	height: 3px;
	position: relative;
	display: block;
	z-index: 1000;
	transition: .3;
}

.cross-one {
	transform: rotate(-45deg);
	top: 3px; /* For at differancen på højden på stregerne */
}
.cross-two {transform: rotate(45deg);}

.hidden {
	visibility: hidden;
}

.background-delete {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 900;
	background-color: rgba(0,0,0,0.3);
	border: none;
	cursor: default;
}
