<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
    <title>Title</title>
</head>
<body>

	<header th:fragment="header" class="d-flex justify-content-between text-light p-3">
		<a href="/projects" class="text-light ml-2"><h1>Taskz</h1></a>

		<span class="ml-auto mr-4">
			<a href="/profile" class="btn btn-success ml-auto">User Profile</a>
		</span>
		<span class="mr-4">
			<a href="/gantt" class="btn btn-success">Gantt Chart for all projects</a>
		</span>
		<span>
			<a href="/newProject" class="btn btn-success">New Project</a>
		</span>
		<span class="ml-4">
			<a href="/login" class="btn btn-danger">Log out</a>
		</span>
	</header>
</body>
</html>
