<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GANT CHART | SUBPROJECT</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="projectPopUp.css">
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>

	<div th:replace="Fragments/header :: header"></div>
	<div id="chart_div"></div>

	<script type="text/javascript" th:inline="javascript">
		
	</script>
</body>
</html>
