<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GANT CHART | SUBPROJECT</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="projectPopUp.css">
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" th:inline="javascript">
		google.charts.load('current', {'packages':['gantt']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			
			const subprojectList = [[${subprojectsList}]];
			console.log(subprojectList);

			const data = new google.visualization.DataTable();

			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('string', 'Resource');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');

			for (let i = 0; i < subprojectList.length; i++) {

				let subprojectStartDate = Date.parse(subprojectList[i].subprojectStartDate);
				const deadline = subprojectList[i].subprojectDeadline;
				const taskList = subprojectList[i].taskList;
				
				
				data.addRows
				([
					[subprojectList[i].subprojectId.toString(), 'SUBPROJECT: ' + subprojectList[i].subprojectName,  null, new Date(subprojectStartDate), new Date(deadline), null, 0, null]
				]);
				
				for(let task = 0; task < taskList.length; task++)
				{
					let taskDeadline = Date.parse(taskList[task].deadline);
					let taskEstimatedStartDate = new Date(taskDeadline);
					taskEstimatedStartDate.setDate(taskEstimatedStartDate.getDate() - taskList[task].estimatedTime / 8);

					let subStartdate = new Date(subprojectStartDate);

					if(taskEstimatedStartDate < subStartdate)
					{
						taskEstimatedStartDate = subStartdate;
					}

					let taskCompletion = taskList[task].status == "ACTIVE" ? 0 : 100;
					
					data.addRows
					([
						[taskList[task].taskId.toString(), 'TASK: ' + taskList[task].taskName, subprojectList[i].name, new Date(taskEstimatedStartDate) ,new Date(taskDeadline), null ,taskCompletion, null]
					]);
				} 
			}
			const options = {
				gantt:
						{
							sortTasks: false
						},
				hAxis:
						{
							format: 'M/d/yy',
							gridlines: {count: 15}
						},
				height: data.getNumberOfRows() * 75
			};

			const chart = new google.visualization.Gantt(document.getElementById('chart_div'));

			chart.draw(data, options);
		}

	</script>
</head>
<body>

	<div th:replace="Fragments/header :: header"></div>
	<div id="chart_div"></div>


</body>
</html>
