<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Welcome to Taskz</title>
</head>
<body>

<h1 class="text-center my-3">Welcome to Taskz!</h1>

<div class="container">
    <form th:method="post" action="/postLogin">
		<div class="form-group row">
			<div class="col-xs-4 m-auto">
				<label for="email">Enter your email</label>
				<input type="email" class="form-control" id="email" name="username" placeholder="User email">
				<label class="my-2" for="password">Enter Password: </label>
				<input type="password" id="password" class="form-control" name="password" placeholder="User password"><br><br>
				<button class="btn btn-primary" th:type="submit">Login</button>
			</div>
		</div>
    </form>
</div>

<script type="text/javascript" th:inline="javascript">
	const failedLogin = [[${alert}]];

	if (failedLogin) {
		alert(`Your login failed. Your email and password does not match. Try again`);
	}
</script>
</body>
</html>
