<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="projectPopUp.css">
	<title>Project Page</title>
</head>
<body>
	<div class="wrapper container">
		<header class="d-flex">
			<h1>Taskz</h1>
			<a href="/newProject" class="btn btn-primary">New Project</a>
			<a href="/logOut" class="btn btn-danger">Log out</a>
		</header>
		
		<main class="my-5">
			
			<div class="" th:classappend="${popup} ? display : none">
				<a href="/projects" class="background">
				</a>
				<div class="popup relative">
					<div class="float-right cross-container">
						<a href="/projects">
							<span class="cross cross-one"></span>
							<span class="cross cross-two"></span>
						</a>
					</div>
					<form th:method="post" action="/postLogin">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="inputFormProjectName">Project Name</label>
									<input type="text" class="form-control" id="inputFormProjectName" name="projectName" placeholder="Enter Project Name" required>
								</div>
							</div>	
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="startDateProjectForm">Start Date:</label>
									<input type="date" class="form-control" id="startDateProjectForm" name="projectStartDate" placeholder="Choose start date" th:attr="min=${date}" required>
								</div>
								<div class="form-group col-md-6">
									<label for="deadlineProjectForm">Deadline:</label>
									<input type="date" class="form-control" id="deadlineProjectForm" name="projectDeadline" placeholder="Choose deadline" th:attr="min=${date}" required>
								</div>
							</div>	
							<button type="submit" class="btn btn-primary mx-auto">Create Project</button>
						<a href="/projects" class="btn btn-danger mx-auto">Cancel</a>
					</form>
					</div>
				</div>

			<table class="table table-striped">
				<thead>
					<th>Project Name</th>
					<th>Startdate</th>
					<th>Deadline</th>
					<th></th>
				</thead>
				<tbody>
					<tr th:each="project : ${projectList}">
						<td th:text="${project.getName}"/>
						<td th:text="${project.getStartDate}"/>
						<td th:text="${project.getDeadline}"/>
						<td><form method="post" action="/deleteProject"><button type="submit" name="projectId" th:value="${project.getProjectId}" class="btn btn-danger">Delete</button></form></td>
						<td><form method="post" action="/subprojects"><button type="submit" name="projectId" th:value="${project.getProjectId}" class="btn btn-primary">See Project</button></form></td>
					</tr>
				</tbody>
			</table>
			
		</main>
	</div>
</body>
</html>
