<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Project Page</title>
</head>
<body>
	<div class="wrapper container">
		<header class="d-flex">
			<h1>Taskz</h1>
			<a href="/newProject" class="btn btn-primary">New Project</a>
			<a href="/logOut" class="btn btn-danger">Log out</a>
		</header>
		
		
		<main class="my-5">
			<!--div class="project-container">
				<div class="project" th:each="project: ${projects}">
					<p th:text="${project.name}" ></p>
					<div class="flex">
						<span th:text="${project.}"></span>
					</div>
				</div>
			</div -->
			
			
			<table class="table table-striped">
				<thead>
					<th>Project Name</th>
					<th>Time</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>Project 1</td>
						<td>16/16</td>
						<td><button class="btn btn-danger">Delete</button></td>
						<td><a href="/subprojects" class="btn btn-primary">See Project</a></td>
					</tr>
				</tbody>
			</table>
			
		</main>
	</div>
</body>
</html>
