<!DOCTYPE html>

<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Project Pop Up</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="projectPopUp.css">
</head>

<body>

<div id="custom-container" class="container">
    <form method="post" action="/postProjectPopUp">
        <div id="form-header" class="form-row justify-content-center">
            <div class="col-xs-5">
                <h1>Create project</h1>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-xs-5">
            <label for="projectName">Project Name:</label>
            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Enter project name" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-xs-5">
                <label for="startDateProjectForm">Start Date:</label>
                <input type="date" class="form-control" id="startDateProjectForm" name="projectStartDate" placeholder="Choose start date" th:attr="min=${date}" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-xs-5">
                <label for="deadlineProjectForm">Deadline:</label>
                <input type="date" class="form-control" id="deadlineProjectForm" placeholder="Choose deadline" th:attr="min=${date}" required>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-xs-5">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            <div class="col-xs-5">
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</div>

</body>

</html>