<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SubProject Page</title>
</head>
<body>
<div class="wrapper">
    <header class="d-flex">
        <h1>Taskz</h1>
        <a href="/logOut" class="btn btn-danger">Log out</a>
    </header>

    <main>
		<!--div class="table table-striped">
		
			<div class="subproject container border border-striped mx-1" >
				<div class="subproject flex">
					<span>Subproject 1</span>
					<span>16/16 hours</span>
					<button class="btn btn-danger">Delete</button>
				</div>
				<div class="container border">
					<div class="row" align="center">
						<div class="col border">Done</div>
						<div class="col border">Task Name</div>
						<div class="col border">Priority</div>
						<div class="col border">Severity</div>
						<div class="col border">Members</div>
						<div class="col border">Estimated</div>
						<div class="col border">Deadline</div>
					</div>
				</div>
			</div>
		</div -->
		
		<div class="subproject container border border-striped mx-auto my-4">
			<div class="subproject d-flex">
				<span>Subproject 1</span>
				<span>16/16 hours</span>
				<button class="btn btn-danger  mx-1 p-2 ml-auto">Delete</button>
			</div>
			<table class="table table-striped" style="position: relative">
				<thead>
				<tr>
					<th scope="col">Done</th>
					<th scope="col">Task Name</th>
					<th scope="col">Priority</th>
					<th scope="col">Severity</th>
					<th scope="col">Members</th>
					<th scope="col">Estimated</th>
					<th scope="col">Deadline</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="m-auto text-center"><input  scope="row"  type="checkbox"></td>
					<td>Task 1</td>
					<td>3</td>
					<td>2</td>
					<td>Oscar, Frederik, Christina, Rune</td>
					<td>16</td>
					<td>21-12-2020</td>
				</tr>
				<tr>
					<td class="m-auto text-center"><input  scope="row"  type="checkbox"></td>
					<td>Task 1</td>
					<td>3</td>
					<td>2</td>
					<td>Oscar, Frederik, Christina, Rune</td>
					<td>16</td>
					<td>21-12-2020</td>
				</tr>
				</tbody>
			</table>
			<div class="d-flex">
				<button class="btn btn-primary mx-1 p-2 ml-auto">New Task</button>
			</div>
		</div>

		<div class="subproject container border border-striped mx-auto my-4">
			<div class="subproject d-flex">
				<span>Subproject 1</span>
				<span>16/16 hours</span>
				<button class="btn btn-danger  mx-1 p-2 ml-auto">Delete</button>
			</div>
			<table class="table table-striped" style="position: relative">
				<thead>
				<tr>
					<th scope="col">Done</th>
					<th scope="col">Task Name</th>
					<th scope="col">Priority</th>
					<th scope="col">Severity</th>
					<th scope="col">Members</th>
					<th scope="col">Estimated</th>
					<th scope="col">Deadline</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="m-auto text-center"><input  scope="row"  type="checkbox"></td>
					<td>Task 1</td>
					<td>3</td>
					<td>2</td>
					<td>Oscar, Frederik, Christina, Rune</td>
					<td>16</td>
					<td>21-12-2020</td>
				</tr>
				<tr>
					<td class="m-auto text-center"><input  scope="row"  type="checkbox"></td>
					<td>Task 1</td>
					<td>3</td>
					<td>2</td>
					<td>Oscar, Frederik, Christina, Rune</td>
					<td>16</td>
					<td>21-12-2020</td>
				</tr>
				</tbody>
			</table>
			<div class="d-flex">
				<button class="btn btn-primary mx-1 p-2 ml-auto">New Task</button>
			</div>
		</div>

		<div class="subproject container border border-striped mx-auto my-4">
			<div class="subproject d-flex">
				<span>Subproject 1</span>
				<span>16/16 hours</span>
				<button class="btn btn-danger  mx-1 p-2 ml-auto">Delete</button>
			</div>
			<table class="table table-striped" style="position: relative">
				<thead>
				<tr>
					<th scope="col">Done</th>
					<th scope="col">Task Name</th>
					<th scope="col">Priority</th>
					<th scope="col">Severity</th>
					<th scope="col">Members</th>
					<th scope="col">Estimated</th>
					<th scope="col">Deadline</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="m-auto text-center"><input  scope="row"  type="checkbox"></td>
					<td>Task 1</td>
					<td>3</td>
					<td>2</td>
					<td>Oscar, Frederik, Christina, Rune</td>
					<td>16</td>
					<td>21-12-2020</td>
				</tr>
				<tr>
					<td class="m-auto text-center"><input  scope="row"  type="checkbox"></td>
					<td>Task 1</td>
					<td>3</td>
					<td>2</td>
					<td>Oscar, Frederik, Christina, Rune</td>
					<td>16</td>
					<td>21-12-2020</td>
				</tr>
				</tbody>
			</table>
			<div class="d-flex">
				<button class="btn btn-primary mx-1 p-2 ml-auto">New Task</button>
			</div>
		</div>
		
       
    </main>
</div>
</body>
</html>
