<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="projectPopUp.css">
	<link rel="stylesheet" href="styles.css">
    <title>SubProject Page</title>
</head>
<body>
<div class="wrapper">

	<!-- Header fragment -->
	<div th:replace="Fragments/header :: header"></div>
	<main>
		<!--#region Popup Subproject -->
		<div class="" th:classappend="${popup} ? display : none">
			<a href="/subprojects" class="background">
			</a>
			<div class="popup relative">
				<div class="float-right cross-container">
					<a href="/subprojects">
						<span class="cross cross-one"></span>
						<span class="cross cross-two"></span>
					</a>
				</div>
				<form th:method="post" action="/postNewSubproject">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputFormSubProjectName">SubProject Name</label>
							<input type="text" class="form-control" name="newSubProject" id="inputFormSubProjectName" placeholder="Enter subproject name" required>
						</div>
					</div>
					<button type="submit" class="btn btn-primary mx-auto">Create Project</button>
					<a href="/subprojects" class="btn btn-danger mx-auto">Cancel</a>
				</form>
			</div>
		</div>
		<!--#endregion-->
		<!--#region Popup Task -->
		<div class="" th:classappend="${TaskPopUp} ? display : none">
			<a href="/subprojects" class="background">
			</a>
			<div class="popup relative">
				<div class="float-right cross-container">
					<a href="/subprojects">
						<span class="cross cross-one"></span>
						<span class="cross cross-two"></span>
					</a>
				</div>
				<form th:method="post" action="/newTaskData">
					<div class="form-row">
						<input type="number" name="subProjectId" class="hidden" th:value="${subprojectsID}">
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="inputFormSubProjectName">Task Name</label>
							<input type="text" class="form-control" name="taskName" id="inputFormSubProjectName" placeholder="Enter subproject name" required>
						</div>
					</div>
					<div class="form-row my-2">
						<div class="col-md-6">
							<label for="taskPriority">Priority:</label>
							<select class="custom-select" name="priority" id="taskPriority" required>
								<option value="" disabled selected hidden>Choose priority</option>
								<option value="3">Critical</option>
								<option value="2">High</option>
								<option value="1">Medium</option>
								<option value="0">Low</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="taskComplexity">Complexity:</label>
							<select class="custom-select" name="complexity" id="taskComplexity" required>
								<option value="" disabled selected hidden>Choose complexity</option>
								<option value="4">Very Hard</option>
								<option value="3">Hard</option>
								<option value="2">Medium</option>
								<option value="1">Easy</option>
								<option value="0">Very Easy</option>
							</select>
						</div>
					</div>
					<div class="form-row my-2">
						<div class="col-md-12">
							<label for="taskEstimatedTime">Estimated completion time in hours:</label>
							<input type="number" class="form-control" name="estimatedTime" id="taskEstimatedTime" placeholder="Estimated time" min="1" required>
						</div>
					</div>	
					<div class="form-row my-2">	
						<div class="col-md-6">
							<label for="taskDeadline">Deadline:</label>
							<input type="date" class="form-control" name="deadline" id="taskDeadline" placeholder="Choose deadline" required>
						</div>
						<div class="col-md-6">
							<label for="taskAssignMember">Assign team member:</label>
							<select class="custom-select" id="taskAssignMember" name="TeamMembers" required>
								<option value="" disabled selected hidden>Choose team member</option>
								<option value="1">Frederik Meizner Petersen</option>
								<option value="2">Christina Maria Bartholomæussen</option>
								<option value="3">Rune Martin Bjerregaard Petersen</option>
								<option value="4">Oscar Vinther Otterstad</option>
							</select>
						</div>
					</div>
					<button type="submit" class="btn btn-primary mx-auto">Create Project</button>
					<a href="/subprojects" class="btn btn-danger mx-auto">Cancel</a>
				</form>
			</div>
		</div>
		<!--#endregion -->

		<a href="/projects">
			<h2 class="ml-5 p-3" th:text="${projectName}"></h2>
		</a>
		
		<div th:if="${subprojectList.size() == 0}" class="container mx-auto">
			<span class="text-info">You have no sub projects <a href="/newSubProject" class="btn btn-success">Create a sub project</a></span>
		</div>
		
		<div th:unless="${subprojectList.size() == 0}" class="subproject container border border-striped mx-auto my-4" th:each="subproject : ${subprojectList}">
			
			
			<div class="subproject d-flex">
				<h4 class="text-center my-auto display-block" th:text="${subproject.getSubprojectName()}"></h4>
				<form th:method="post" action="/deleteSubProject">
					<input type="text" th:value="${subproject.getSubprojectId()}" name="deleteSubProject" class="hidden">
					<button type="submit" class="btn btn-danger mx-1 p-2 ml-auto">Delete sub project</button>
				</form>
			</div>
			<table class="table table-striped" style="position: relative">
				<thead>
					<tr>
						<th scope="col">Status</th>
						<th scope="col">Task Name</th>
						<th scope="col">Priority</th>
						<th scope="col">Complexity</th>
						<th scope="col">Members</th>
						<th scope="col">Estimated</th>
						<th scope="col">Deadline</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${subproject.getTaskList}">
						<td th:text="${task.getStatus}"></td>
						<td th:text="${task.taskName}"></td>
						<td th:text="${task.getPriority}"></td>
						<td th:text="${task.getComplexity}"></td>
						<td th:text="${task.getMember}"></td>
						<td th:text="${task.getEstimatedTime}"></td>
						<td th:text="${task.getDeadline}"></td>
						<td th:if="${task.getStatus == T(dk.kea.taskz.Models.Enums.Status).ACTIVE}">
							<form method="post" action="/postChangeStatus"><button type="submit" class="btn btn-primary mx-1 p-2 ml-auto" name="changeStatus" th:value="${task.getTaskId}">Complete</button></form></td>
						<td th:if="${task.getStatus == T(dk.kea.taskz.Models.Enums.Status).COMPLETED}">
							<form method="post" action="/postChangeStatus"><button type="submit" class="btn btn-secondary mx-1 p-2 ml-auto" name="changeStatus" th:value="${task.getTaskId}">Reactivate</button></form></td>
						<td><form method="post" action="/deleteTask"><button type="submit" class="btn btn-danger mx-1 p-2 ml-auto" name="deleteTask" th:value="${task.getTaskId}">Delete</button></form></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex">
				<form th:method="post" action="/newTask">
					<input type="text" th:value="${subproject.getSubprojectId()}" name="subprojectsID" class="hidden">
					<button type="submit" class="btn btn-primary mx-1 p-2 ml-auto">New Task</button>
				</form>
			</div>
		</div>
    </main>
</div>
</body>
</html>
