<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var data = new google.visualization.DataTable();
            var projects = [[${projects}]];

            console.log(projects);

            data.addColumn({type: 'string', id: 'Project Name'});
            data.addColumn({type: 'date', id: 'Startdate'});
            data.addColumn({type: 'date', id: 'Deadline'});

            for (var project = 0; project < projects.length; project++) {
                let projectStartDate = Date.parse(projects[project].startDate);
                let projectDeadLine = Date.parse(projects[project].deadline);
                let subprojects = projects[project].associatedSubprojects;

                data.addRows
                ([
                    [projects[project].name, new Date(projectStartDate), new Date(projectDeadLine)]
                ]);

                for (let subproject = 0; subproject < subprojects.length; subproject++)
                {
                    let subprojectStartDate = Date.parse(subprojects[subproject].subprojectStartDate);
                    let subprojectDeadlline = Date.parse(subprojects[subproject].subprojectDeadline);
                    let tasks = subprojects[subproject].taskList;

                    data.addRows
                    ([
                        [subprojects[subproject].subprojectName, new Date(subprojectStartDate), new Date(subprojectDeadlline)]
                    ]);

                    for (let task = 0; task < tasks.length; task++) {
                        let dateNow = Date.now();
                        let taskDeadline = Date.parse(tasks[task].deadline);

                        data.addRows
                        ([
                            [tasks[task].taskName, new Date(dateNow), new Date(taskDeadline)]
                        ]);
                    }
                }

                const options =
                    {
                        height: data.getNumberOfRows() * 75
                    };

                chart.draw(data, options);
            }
        }
    </script>
</head>
<body>
<div id="timeline" style="height: 180px;"></div>
</body>
</html>